html, body, * { font-family: 'Roboto', sans-serif; }

.container {
    width: 800px;
    margin: auto;
}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "navbar_p_one navbar_p_two";
    border: 1px solid orange;
    font-size: 40px;
}

.navbar_p_one {
    grid-area: navbar_p_one;
    width: 100%;
    text-align: end;
    color: #fff;
    background-color: orange;
    padding: 10px;
}

.navbar_p_two {
    padding: 10px;
    padding-left: 30px;
    grid-area: navbar_p_two;
    color: orange;
}

footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    padding-top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), orange);
}